
.card{
   
    position: relative;
   
     border: 2px solid rgb(26, 26, 167);
     width: 9rem;
     background-color: rgb(85, 110, 223);
     height: 11rem;
     left: 1rem;
     margin: 2rem;
}

.picture{
     position: relative;
     bottom: 35px;
     left: 1rem;
     border: 2px solid;
     border-radius: ;
     background-color: #fff;
     height:5rem;
     width: 7rem;
  
   

    
}

#para{
    
    position: relative;
    top: 70px;
    left: 10px;
     
}
 


.add-btn , .delete-btn {
    border: none;
    padding: 0.4rem;
    width: 4.5rem;
    background-color: tomato;
    position: relative;
    top: 140px;
    left: 34px;
    color: #fff;
    
}
.change-btn{
    border: none;
    padding: 0.4rem 1.9rem 0.4rem 1.9rem;
    background-color: tomato;
    position: relative;
    top: 149px;
    left: px;
   
    color: #fff;
   
    
}

.pico{
    width: 15%;
    aspect-ratio: 3/2;
    object-fit: contain;
    mix-blend-mode: color-burn;
    object-position: initial;
    
 
}

.Pico-div{
    display: flex;
    justify-content: center;
    position: relative;
    top: -15px;
}
h4 , .name-input {
    color: aliceblue;
    position: relative;
    top: 80px;
    left: 5px;
    margin:0;
}



#input-change-name {
    
}