
.card{
    display: flex;
    position: relative;
    flex-direction: column;
     border: 2px solid rgb(26, 26, 167);
     width: 9rem;
     background-color: rgb(85, 110, 223);
     height: 10rem;
     left: 1rem;
}

.picture{
     position: relative;
     bottom: 90px;
     border-radius: 8rem;
     background-color: #fff;
     height:3rem;
     width: 2px;

   

    
}

#para{
    
    position: absolute;
    top: 80px;
    left: 10px;
     
}
 


.add-btn{
    border: none;
    padding: 0.4rem;
    width: 4.5rem;
    background-color: tomato;
    position: absolute;
    top: 125px;
    left: 34px;
    color: #fff;
}

.pico{
    width: 15%;
    aspect-ratio: 3/2;
    object-fit: contain;
    mix-blend-mode: color-burn;
    object-position: initial;
    
 
}

.Pico-div{
    display: flex;
    justify-content: center;
    position: relative;
    top: -15px;
}
h4{
    color: aliceblue;
    position: relative;
    top: 80px;
    left: 5px;
}